<article class="post">
  <div class="Car_name">
      Car Model: {{car_model}}
    </div>
    <div class="carImg">
      <a href="{{img_link}}" target="_blank"> {{img_link}}</a>
    </div>
    <div class="review">
      Review: {{review}}
    </div>
    <div class="meta">
      Owner: {{user.username}}
      Car Maker: {{car_maker}}
      Car body: {{car_body}}
      Review created on: {{created_at}}
    </div>
    
    <span>({{post_url}})</span>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} comments:{{comments.length}}</a>
  </div>
</article>