<br>
<article class="post">
  <div class="columns is-centered">
    <div class="column is-three-quarters box has-background-info">
      <div class="box">
        <div class="Car_name title is-4 box has-text-centered">
          Posted By: {{user.username}}
        </div>
        <div class="columns is-vcentered">
          <div class="column is-3 box">
            Car Manufacture: {{car_maker}} <br>
            Car Model: {{car_model}} <br>
            Car Body Type: {{car_body}}
          </div>
          <div class="column box">
            {{img_link}}
          </div>
        </div>
        <div class="meta">
          <h1 class="title is-6">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            Review
          </h1>
        </div>
        <div class="content box column ">
          <p class="has-text-centered">
            "{{review}}"
          </p>
        </div>
        <hr>
        <div class="subtitle is-6">
          {{created_at}}{{ post.comments.length}}
        </div>
      </div>
      <button class="button">
        <a class="is-info is-inverted" href="/post/{{id}}"> <i class="fad fa-comment"></i> {{comments.length}}</a>
      </button>
    </div>
  </div>
</article>
<br>
<br>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />