<button class="button">
  <a href="/dashboard"><i class="fas fa-long-arrow-left"></i></a>
</button>
<br>
<br>

<section class="cloumns is-centered box">
  <div class="column is-two-thirds">
    <h1 class="title">
      Edit Car Review
    </h1>
    <form class="edit-post-form">
      <input name="post-review"  class="textarea"placeholder="Change your mind?" type="text" value="{{post.info}}" />
      {{!-- <span>({{post.img_link}})</span> --}}
  </div>
  <div>
    Review is created by {{user.username}} on {{ post.created_at}}
    |
    <a href="/post/{{post.id}}"><i class="fad fa-comment"></i> {{ post.comments.length}}</a>
  </div>
  <br>
  <br>
  <div class="buttons">
    <button class="button is-info" type="submit">Save</button>
    <button type="button" class="delete-post-btn button is-danger">Delete</button>
  </div>
</section>
<div class="box">
  {{> comments post.comments}}
  <form class="comment-form">
    <div>
      <textarea class="textarea" name="comment-body"></textarea>
      <br>
      <br>
        <button class="button is-info" type="submit"><i class="fad fa-comment"></i>
          <a href="/post/{{post.id}}"></a>
        </button>

    </div>
  </form>
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>