
  <a href="/dashboard"><i class="fas fa-long-arrow-left"> baba</i> </a>
  <br>
  <br>
  
  <section class="box">
  <h1 class="title has-text-centered">
    Edit Car Review
  </h1>
  <form class="edit-post-form">
    <div>
      <input name="post-review" placeholder="Change your mind?" type="text" value="{{post.review}}" />
      {{!-- <span>({{post.img_link}})</span> --}}
    </div>
    <div>
      Review is created by {{user.username}} on {{ post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} "comment:" {{ post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>

<form class="comment-form">
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
</form>
</section>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">